table {
    border-collapse: collapse;
    margin-bottom: 15%;
}

table tbody td {
    border: 3px solid #000;
}

table input {
    width: 25px;
    height: 25px;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 125%;
    text-align: center;
    border: 1px solid #000
}

@media only screen and (max-width: 1200px) {
    table input {
        width: 18px;
        height: 18px;
        padding: 4px;
        margin: 4px;
    }
}