table {
    border-collapse: collapse;
}

table tbody td {
    border: 3px solid #000;
}

table input {
    width: 30px;
    height: 30px;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 125%;
    text-align: center;
    border: 1px solid #000
}